<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tshaojl.blog.dao.CatalogMapper">
    <resultMap id="Catalog" type="com.tshaojl.blog.domain.Catalog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="user_id" javaType="BIGINT" property="userId"/>
    </resultMap>


    <select id="findByUser" parameterType="com.tshaojl.blog.domain.User" resultMap="Catalog">
        select
        c.id, c.name, c.user_id
        from catalog c, user u
        where c.user_id = #{id} and u.id = #{id}
    </select>

    <select id="findByUserId" parameterType="java.lang.Long" resultMap="Catalog">
        select
            c.id, c.name, c.user_id
        from catalog c, user u
        where c.user_id = #{userId} and u.id = #{userId}
    </select>

    <select id="findByUserAndName" resultMap="Catalog">
        select
            c.id, c.name, c.user_id
        from catalog c, user u
        where c.user_id = #{userId} and u.id = #{userId} and c.name = #{name}
    </select>

    <select id="findById" resultType="Catalog">
        select id, name, user_id
        from catalog where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Long">
        delete from catalog where id = #{id};
    </delete>

    <insert id="insert" parameterType="com.tshaojl.blog.domain.Catalog">
        insert into catalog(name, user_id)
        values (#{name}, #{userId})
    </insert>


</mapper>