<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lssj.blog.dao.TagMapper">
    <resultMap id="Tag" type="com.lssj.blog.domain.Tag">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="count" jdbcType="BIGINT" property="count"/>
    </resultMap>

    <select id="findByName" parameterType="java.lang.String" resultMap="Tag">
        select
        id, name, count
        from tag
        where name = #{name}
    </select>

    <insert id="insert" parameterType="com.lssj.blog.domain.Tag">
        insert into
        tag (name, count)
        values (#{name}, #{count})
    </insert>

    <update id="update" parameterType="com.lssj.blog.domain.Tag">
        update tag set
        count = #{count}
        where id = #{id}
    </update>

    <select id="findAll" resultMap="Tag">
        select
            id, name, count
        from tag
    </select>

</mapper>