<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tshaojl.blog.dao.VoteMapper">
    <resultMap id="Vote" type="com.tshaojl.blog.domain.Vote">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <association property="user" javaType="com.tshaojl.blog.domain.User">
            <id column="id" property="id"/>
            <result column="avatar" property="avatar"/>
            <result column="email" property="email"/>
            <result column="name" property="name"/>
            <result column="password" property="password"/>
            <result column="username" property="username"/>
        </association>
    </resultMap>


    <select id="findById" parameterType="java.lang.Long" resultMap="Vote">
        select
        v.id, v.create_time, u.id, u.avatar, u.email, u.name, u.password, u.username
        from vote v, user u
        where v.id = #{id} and v.id = u.id
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from vote where id = #{id};
    </delete>

</mapper>