<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lssj.blog.dao.VoteMapper">
    <resultMap id="Vote" type="com.lssj.blog.domain.Vote">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="user_id" property="userId"/>
        <result column="blog_id" property="blogId"/>
    </resultMap>


    <select id="findById" parameterType="java.lang.Long" resultMap="Vote">
        select
        id, create_time, user_id, blog_id
        from vote
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from vote where id = #{id};
    </delete>

    <select id="findByBlogId" resultMap="Vote">
        select id, create_time, user_id, blog_id
        from vote where blog_id = #{blogId}
    </select>

    <select id="findByUserIdAndBlogId" resultType="Vote">
        select id, create_time, user_id, blog_id
        from vote where user_id = #{userId} and blog_id = #{blogId};
    </select>

    <insert id="insert">
        insert into vote (create_time, user_id, blog_id)
        values (#{vote.createTime}, #{vote.userId}, #{vote.blogId})
    </insert>
</mapper>